2019-2020/
docs-private/
class-private/
class/10.20_numpy.ipynb
class/10.30_excercises_numpy.ipynb
.vscode

class-solved/MODULE_1-python_introduction-solved/.ipynb_checkpoints/
class-solved/MODULE_1-python_introduction-solved/10.02_CondicionesBucles-solved.ipynb
class-solved/MODULE_1-python_introduction-solved/10.03_Funciones-solved.ipynb
class-solved/MODULE_1-python_introduction-solved/10.04_ProgramacionPython-solved.ipynb
class-solved/MODULE_1-python_introduction-solved/10.08_Ejercicios-solved.ipynb
class-solved/MODULE_1-python_introduction-solved/10.10_ExamenInformaticaDic2014-solved.ipynb
class-solved/MODULE_1-python_introduction-solved/10.10_vectoresEquilibrados.txt
class-solved/MODULE_1-python_introduction-solved/Ej1_ExamenInformaticaDic2014_resuelto.pdf
class-solved/MODULE_1-python_introduction-solved/__pycache__/
class-solved/MODULE_1-python_introduction-solved/funcionesDEMO.py
class-solved/MODULE_1-python_introduction-solved/hw.txt
class-solved/MODULE_1-python_introduction-solved/hwx3.txt
class-solved/MODULE_1-python_introduction-solved/numpy_solved.ipynb
class-solved/MODULE_1-python_introduction-solved/resultados.txt
class-solved/MODULE_1-python_introduction-solved/soluciones_airbnb.py
class-solved/MODULE_1-python_introduction-solved/spyder_funcionEj1.py
class-solved/MODULE_1-python_introduction-solved/spyder_resolucionEj1.py
class-solved/MODULE_1-python_introduction-solved/spyder_resultados.txt
